 *{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

 .top1 {
  padding-top: 0px;
  color: rgb(238, 191, 104);
  font-family: "papyrus", fantasy;
  font-size: 50px;

  text-align: center;
}

.top2 {
  padding-top: 150px;
  color: whitesmoke;
  font-family: "papyrus", fantasy;
  font-size: 30px;

  text-align: center;
}

header nav a:hover,
a:active {
  background-color: #009bff;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/gallery/hoo2.jpg);
  
  background-size: cover;
  background-position: cover;
  color: white;
}

.login_form{
  padding: 20px 40px;
}
.login_form .font{
  font-size: 18px;
  margin: 5px 0;
}

.login_form .font2{
  margin-top: 20px;
}

.login_form input{
  height: 35px;
  width: 250px;
  padding: 0 5px;
  font-size: 16px;
  outline: none;
  border: 1px solid silver;
  border-radius: 2px;
}

.login_form button{
  margin-top: 45px 0 30px 0;
  height: 35px;
  width: 250px;
  font-size: 20px;
  color: white;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  background-color: #4cd137;
  border-radius: 4px;
  border: 1px solid #4cd137;
  transition: .5s;
}
.login_form button:hover{
  background-color: #44bd32;
}

body h1 {
  color: black;
  border-color: blue;
}
.para-2 {
  color: #fff;
}
.logo img {
  display: center;
  align-items: center;
  width: 30%;
  height: 30%;
  left: 35%;
  position: relative;
}
.logo {
  display: center;
  align-items: center;
}



/* sign up form */

@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

:root {
  --succes-color: #2ecc71;
  --error-color: #c41a07;
}

* {
  box-sizing: border-box;
}

.signbody{
   background-color: #f9fafb;
  font-family: "Open Sans", sans-serif;
  display: center;
  align-items: center;
  justify-content: center; 
  /* min-height: 100vh; */
  /* margin: 0; */
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  overflow: hidden;
  max-width: 100%;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
  color: black;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: var(--succes-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}
.form button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  width: 100%;

}


/* login page */

